@model Motel.ViewModel.RoomTypeViewModel

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>RoomType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BedQuantity" class="control-label"></label>
                <input asp-for="BedQuantity" class="form-control" />
                <span asp-validation-for="BedQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hprice" class="control-label"></label>
                <input asp-for="Hprice" class="form-control" />
                <span asp-validation-for="Hprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qkprice" class="control-label"></label>
                <input asp-for="Qkprice" class="form-control" />
                <span asp-validation-for="Qkprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qk2price" class="control-label"></label>
                <input asp-for="Qk2price" class="form-control" />
                <span asp-validation-for="Qk2price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AirCondition" /> @Html.DisplayNameFor(model => model.AirCondition)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tv" /> @Html.DisplayNameFor(model => model.Tv)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
