@model Application.ViewModels.OccupiedRoom.OccupiedRoomIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="view">
    @await Html.PartialAsync("_IndexPartial", Model)
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
        const $view = $("#view");
        const $modal = $("#modal");
        const $modalTitle = $("#modal .modal-title");
        const $modalBoby = $("#modal .modal-body");
        const $modalDialog = $("#modal .modal-dialog");

        //排房與入住分頁
        jQueryAjaxPagePost = (pageNumber) => {

            console.log(pageNumber);

            let model = {
                SearchString: $("#SearchString").val(),
                PageNumber: pageNumber,
                TotalPages: undefined,
                HasPreviousPage: undefined,
                HasNextPage: undefined,
                OccupiedRoomViewModelList: []
            };

            console.log(model);

            $.ajax({
                type: "POST",
                url: "/OccupiedRoom/Index",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
            }).done(function (res) {
                if (res.isValid) {
                    $view.html(res.html)
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }

        showInPopup = (url, title) => {

            $.ajax({
                type: "GET",
                url: url
            }).done(function (res) {
                console.log(res);
                $modalBoby.html(res.html);
                $modalTitle.html(title);
                $modal.modal("show");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }

        //搜尋

        jQueryAjaxSearchPost = form => {

            try {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false
                }).done(function (res) {
                    if (res.isValid) {
                        $view.html(res.html);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                });
                //to prevent default form submit event
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();

            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push && o[this.name].length == 0) {
                        o[this.name] = [o[this.name]];
                    }
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        //新增或編輯
        @*jQueryAjaxPost = form => {

            let $form = $(form).serializeObject();
            console.log($form);

            let pageNumber = $("#navigation li.active > a.page-link").text();
            if (pageNumber === "") pageNumber = 1;

            let model = {
                FilterViewModel: {
                    SearchString: $("#SearchString").val(),
                    PageNumber: pageNumber
                },
                OccupiedRoomDetailViewModel: {
                    Id: $form["OccupiedRoomDetailViewModel.Id"],
                    CustomerId: $form["OccupiedRoomDetailViewModel.CustomerId"],
                    RoomId: $form["OccupiedRoomDetailViewModel.RoomId"],
                    RoomNumber: $form["OccupiedRoomDetailViewModel.RoomNumber"],
                    RoomTypeName: $form["OccupiedRoomDetailViewModel.RoomTypeName"],
                    CustomerName: $form["OccupiedRoomDetailViewModel.CustomerName"],
                    BeginDate: @Model.OccupiedRoomDetailViewModel.BeginDate.ToString("yyyy-MM-dd"),
                    EndDate: @Model.OccupiedRoomDetailViewModel.EndDate.ToString("yyyy-MM-dd"),
                    Expense: $form["OccupiedRoomDetailViewModel.Expense"],
                    CheckInDate: $form["OccupiedRoomDetailViewModel.CheckInDate"],
                    CheckOutDate: $form["OccupiedRoomDetailViewModel.CheckOutDate"],
                    Pay: $form["OccupiedRoomDetailViewModel.Pay"]
                }
            };

            console.log(model);

            try {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    processData: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    }
                }).done(function (res) {
                    if (res.isValid) {
                        $view.html(res.html)
                        $modalBoby.html("");
                        $modalTitle.html("");
                        $modal.modal("hide");
                    }
                    else
                        $modalBoby.html(res.html);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                });
                //to prevent default form submit event
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }*@
</script>
}
