@model Application.ViewModels.Reservation.CompoundReservationViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.ReservationViewModel.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationViewModel.Id" />
            <input type="hidden" asp-for="ReservationViewModel.CustomerId" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReservationViewModel.RoomTypeId" class="control-label"></label>
                        <select asp-for="ReservationViewModel.RoomTypeId" class="form-control" asp-items="Model.ReservationViewModel.RoomTypeList"></select>
                        <span asp-validation-for="ReservationViewModel.RoomTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6" id="content">
                    <div class="d-flex flex-column">
                        <div class="mx-sm-2"><strong>平日價：</strong></div>
                        <div class="mx-sm-2"><strong>假日價：</strong></div>
                        <div class="mx-sm-2"><strong>房間面積：</strong></div>
                        <div class="mx-sm-2"><strong>配備床數：</strong></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReservationViewModel.RoomId" class="control-label"></label>
                        <select asp-for="ReservationViewModel.RoomId" class="form-control" asp-items="Model.ReservationViewModel.RoomList"></select>
                        <span asp-validation-for="ReservationViewModel.RoomId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReservationViewModel.BeginDate" class="control-label"></label>
                        <input asp-for="ReservationViewModel.BeginDate" class="form-control" />
                        <span asp-validation-for="ReservationViewModel.BeginDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReservationViewModel.EndDate" class="control-label"></label>
                        <input asp-for="ReservationViewModel.EndDate" class="form-control" />
                        <span asp-validation-for="ReservationViewModel.EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReservationViewModel.Days" class="control-label"></label>
                        <input asp-for="ReservationViewModel.Days" class="form-control" readonly />
                        <span asp-validation-for="ReservationViewModel.Days" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReservationViewModel.Expense" class="control-label"></label>
                        <input asp-for="ReservationViewModel.Expense" class="form-control" readonly />
                        <span asp-validation-for="ReservationViewModel.Expense" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {

        getAllRoomType('@Model.ReservationViewModel.RoomTypeId');

        $("#ReservationViewModel_RoomTypeId").on("change", function () {
            let roomTypeId = $(this).val();

            getAllRoomType(roomTypeId);
            getRoom(roomTypeId);
            getReservationExpense();

        });

        $("#ReservationViewModel_BeginDate").on("change", function () {
            console.log($(this).val());
            getReservationExpense();
        });

        $("#ReservationViewModel_EndDate").on("change", function () {
            console.log($(this).val());
            getReservationExpense();
        });
    });

    getReservationExpense = () => {
        const model = {
            BeginDate: $("#ReservationViewModel_BeginDate").val(),
            EndDate: $("#ReservationViewModel_EndDate").val(),
            RoomTypeId: $("#ReservationViewModel_RoomTypeId option:selected").val()
        };

        console.log(model);

        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(model)
        }

        fetch("/Reservation/GetExpense", options)
            .then(res => res.json())
            .catch(error => console.error("Error:", error))
            .then(data => {
                console.log("Success:", data);
                $("#ReservationViewModel_Expense").val(data.result.expense);
                $("#ReservationViewModel_Days").val(data.result.days);
            });
    }



    getAllRoomType = (roomTypeId) => {
        fetch(`/Reservation/GetRoomType/${roomTypeId}`)
            .then(function (response) {
                return response.json();
            })
            .catch(error => console.error("Error:", error))
            .then(function (data) {

                let array = [];

                if (data.result !== "") {
                    array.push(data.result.price);
                    array.push(data.result.hprice);
                    array.push(data.result.area);
                    array.push(data.result.bedQuantity);
                }
                else {
                    array = Array(5).fill("");
                }

                $("#content").html(`<div class="d-flex flex-column">
                                        <div class="mx-sm-2"><strong>平日價：</strong>${array[0]}</div>
                                        <div class="mx-sm-2"><strong>假日價：</strong>${array[1]}</div>
                                        <div class="mx-sm-2"><strong>房間面積：</strong>${array[2]}</div>
                                        <div class="mx-sm-2"><strong>配備床數：</strong>${array[3]}</div>
                                    </div>`);
            });
    }

    getRoom = (roomTypeId) => {
        fetch(`/Reservation/GetRoom/${roomTypeId}`)
            .then(function (response) {
                return response.json();
            })
            .catch(error => console.error("Error:", error))
            .then(function (data) {

                $("#ReservationViewModel_RoomId").empty();

                let items = "<option value=''>請選擇</option>";
                $.each(data.result, function (i, room){
                    items +=`<option value=${room.id}>${room.roomNumber}</option>`
                });
                $("#ReservationViewModel_RoomId").html(items);
            });
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
