@model Application.ViewModels.Customer.CustomerIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="view">
    @await Html.PartialAsync("_IndexPartial", Model)
</div>

@*ReservationList*@
<div class="modal fade" tabindex="-1" role="dialog" id="stack1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@*AddOrEdit*@
<div class="modal fade" tabindex="-1" role="dialog" id="stack2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        const $view = $("#view");
        const $modal = $("#stack1");
        const $modalTitle = $("#stack1 .modal-title");
        const $modalBoby = $("#stack1 .modal-body");
        const $modalDialog = $("#stack1 .modal-dialog");

        //預訂
        const $modalReserve = $("#stack2");
        const $modalReserveTitle = $("#stack2 .modal-title");
        const $modalReserveBoby = $("#stack2 .modal-body");
        const $modalReserveDialog = $("#stack2 .modal-dialog");

        $(function () {

        });

        //客戶分頁
        jQueryAjaxPagePost = (pageNumber) => {

            let model = {
                SearchString: $("#SearchString").val(),
                PageNumber: pageNumber,
                TotalPages: undefined,
                HasPreviousPage: undefined,
                HasNextPage: undefined,
                CustomerViewModelList: []
            };

            $.ajax({
                type: "POST",
                url: "/Reservation/Index",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
            }).done(function (res) {
                if (res.isValid) {
                    $view.html(res.html)
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }

        //預訂分頁
        jQueryAjaxReservationPagePost = (pageNumber, customerId) => {

            console.log(pageNumber, customerId);

            let model = {
                CustomerId: customerId,
                ReservationSearchString: $("#ReservationSearchString").val(),
                PageNumber: pageNumber,
                TotalPages: undefined,
                HasPreviousPage: undefined,
                HasNextPage: undefined,
                ReservationViewModelList: []
            };

            console.log(model);

            $.ajax({
                type: "POST",
                url: "/Reservation/ReservationIndex",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
            }).done(function (res) {
                if (res.isValid) {
                    $modalBoby.html(res.html)
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }


        //預訂列表
        showListPopup = (url, title) => {
            $.ajax({
                type: "GET",
                url: url
            }).done(function (res) {
                $modalBoby.html(res.html);
                $modalTitle.html(title);
                $modal.modal("show");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }


        showInPopup = (url, title) => {

            $.ajax({
                type: "GET",
                url: url
            }).done(function (res) {
                $modalReserveBoby.html(res.html);
                $modalReserveTitle.html(title);
                $modalReserve.modal("show");
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }

        //搜尋
        jQueryAjaxSearchPost = form => {

            try {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false
                }).done(function (res) {
                    if (res.isValid) {
                        $view.html(res.html)
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                });
                //to prevent default form submit event
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }

        jQueryAjaxReservationSearchPost = form => {

            try {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false
                }).done(function (res) {
                    if (res.isValid) {
                        $modalBoby.html(res.html);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                });
                //to prevent default form submit event
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();

            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push && o[this.name].length == 0) {
                        o[this.name] = [o[this.name]];
                    }
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        //新增或編輯
        jQueryAjaxPost = form => {

            let $form = $(form).serializeObject();

            console.log("$form", $form);


            let pageNumber = $("#navigationReservation li.active > a.page-link").text();
            if (pageNumber === "") pageNumber = 1;

            let model = {
                FilterViewModel: {
                    SearchString: $("#ReservationSearchString").val(),
                    PageNumber: pageNumber
                },
                ReservationViewModel: {
                    Id: $form["ReservationViewModel.Id"],
                    RoomId: $form["ReservationViewModel.RoomId"],
                    CustomerId: $form["ReservationViewModel.CustomerId"],
                    BeginDate: $form["ReservationViewModel.BeginDate"],
                    EndDate: $form["ReservationViewModel.EndDate"],
                    Days: $form["ReservationViewModel.Days"],
                    Expense: $form["ReservationViewModel.Expense"],
                    RoomTypeId: $form["ReservationViewModel.RoomTypeId"],
                }
            };

            console.log("model", model);

            try {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    processData: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    }
                }).done(function (res) {
                    if (res.isValid) {
                        $modalBoby.html(res.html)
                        $modalReserveBoby.html("");
                        $modalReserveTitle.html("");
                        $modalReserve.modal("hide");
                    }
                    else
                        $modalReserveBoby.html(res.html);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                });
                //to prevent default form submit event
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }

        //刪除
        jQueryAjaxDelete = (url, id, pageNumber, customerId) => {

            let model = {
                Id: id,
                CustomerId: customerId,
                PageNumber: pageNumber,
                ReservationSearchString: $("#ReservationSearchString").val()
            };

            if (confirm("你確定要刪除嗎?")) {
                try {
                    $.ajax({
                        type: "Delete",
                        url: url,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(model)
                    }).done(function (res) {
                        $modalBoby.html(res.html);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR, textStatus, errorThrown);
                    });
                } catch (ex) {
                    console.log(ex)
                }
            }

            return false;
        }
    </script>
}
