@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form asp-action="Index"
      asp-controller="Customer"
      method="post"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-complete="completed"
      data-ajax-failure="failed"
      data-ajax-mode="replace"
      data-ajax-update="#panel">
    <div id="panel">
        @await Html.PartialAsync("~/Views/Customer/Partial/_IndexPartial.cshtml")
    </div>
</form>

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        completed = () => {
            console.log('Posted using Unobtrusive AJAX');
        };

        failed = function (xhr) {
            console.log(`Status: {xhr.status}, Status Text: {xhr.statusText}`);
        };
    </script>
}